{% extends 'base.html' %}

{% block customCSS %}
{% include 'table.css' %}
{% endblock %}

{% block content %}
<h1></h1>

<div class="table">
<table>
        <tr>
          <th>Equipment</th>
          <th>Name</th>
          <th>Location</th>
          <th>Contact</th>
          <th>Available</th>
        </tr>

        {% for i in object %}
        <tr>
            <td><a href="{{i.get_absolute_url}}">{{i.equipment}}</a></td>
            <td><a href="{{i.get_absolute_url}}">{{i.ICON_ref}}</td></a>
            <td><a href="{{i.get_absolute_url}}">{{i.location}}</td></a>
            <td><a href="{{i.get_absolute_url}}">{{i.current_user}}</td></a>
            <td><a href="{{i.get_absolute_url}}">{{i.get_myfield}}</td></a>
        </tr>
        {% endfor %}
</table>
</div>
<div>
  <select id="cat" name="category" form ="item-search" style="display: inline">
    <option value="none" selected>Select category...</option>
    {% for j in category %}
    <option value="{{j}}">{{j}}</option>
    {% endfor %}
  </select>
  <select id="brad" name="brand" form ="item-search" style="display: inline">
    <option value="none" selected>Select brand...</option>
    {% for k in brand %}
    <option value="{{k}}">{{k}}</option>
    {% endfor %}
  </select>
    <form id= "item-search" action="{% url 'equipment:item-search' %}" method="get" style="display: inline">
      <button class="ICON" type="submit">Search</button>
    </form>
    <br>
  <div style="padding-top: 5px">
    <input type="radio" id="yes" name="available" value="yes" form="item-search" checked>
    <label for="yes">Available</label>
    <input type="radio" id="no" name="available" value="no" form="item-search">
    <label for="no">Booked</label>
  </div>
</div>

{% endblock %}