* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    overflow-y: scroll;
} 

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: white;
    color: #1e4b59;
    margin: 0;
    min-width: 400px;
    line-height: 130%;
}

em {
    font-style: italic;
}

stong {
    font-weight: 700;
    font-style: normal;
}

#main {
    min-height: 100%;
    position: relative;
}

a:hover {
    text-decoration: underline;
    color: darken(inherit, 15%);
}

.inner-body {
    position: relative;
    margin: 0 auto 0 auto;
    padding: 0 3em 0 3em;
    max-width: 1200px;
}

.greyed {
    width: 100%;
    background-color: white;
    border-bottom: 2px solid #f93696;
}

#footer-spacer {
    padding-bottom: 50px;
}

#footer {
    height: 50px;
    color: white;
    font-size: 12px;
    text-align: center;
}

.section {
    padding: 1em 0;
    margin: 3em 0;
}

.section p {
    text-align: center;
}


.section::after {
    content: " ";
    white-space: pre;
    display: block;
    position: relative;
    margin: 3em auto 0 auto;
    height: 1px;
    width: 40%;
    border-bottom: 1px solid #ebebeb;
}

img.logo {
    max-height: 56px;
    vertical-align: middle;
    margin: 0 0.5em 0 0em;
}

#navbar {
    position: relative;
    width: 100%;
}

ul.navlist {
    width: 100%;
    display: inline-block; 
    margin: 0;
    padding: 0;
}

ul.navlist-right {
    width: auto;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

ul.navlist a {
    display: inline-block;
}

ul.navlist li {
    vertical-align: middle;
    font-family: 'SegoeUI', sans-serif;
    font-weight: 400;
    font-size: 20px;
    display: inline-block; 
    padding: 15px 1em;
    color: #1e4b59;
}

ul.navlist li.logotext {
    padding-left: 0px;
}

ul.navlist li:hover {
    -webkit-transition: .15s; /* Safari */
    transition: .15s;
    color: white;
    background-color: #f93696;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-family: 'SegoeUI', sans-serif;
    font-weight: 400;
    line-height: 1.3em;
}

.center {
    text-align: center;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.6em;
}

div.tiles {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 0 0 0;
}

fieldset.form-group {
    border-color: #f93696;
    border-style: solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 25%);
}

fieldset.form-group ul{
    font-size: 0.75em
}

fieldset.form-group p{
    font-size: 0.75em;
    margin-block-start: 0.25em;
    margin-block-end: 1em
}

fieldset.form-booking {
    border-color: #f93696;
    border-style: solid;
    position: relative;
}


input:focus, textarea:focus, select:focus{
    outline: none;
}

fieldset.form-group input[type=text], input[type=email], input[type=password] {
    border: 1px solid #f93696;
    border-radius: 4px;
  }

fieldset.form-group input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    border: 1px solid #1e4b59;
    border-radius: 4px;
  }

fieldset.form-booking input[type=text], input[type=email], input[type=password] {
    border: 1px solid #f93696;
    border-radius: 4px;
  }

fieldset.form-booking input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    border: 1px solid #1e4b59;
    border-radius: 4px;
  }

button.ICON {
  background-color: white;
  color: #1e4b59;
  border: 1px solid #f93696;
  -webkit-transition: .15s; /* Safari */;
  transition-duration: 0.4s;
}

button.ICON:hover{
    background-color: #f93696; 
    color: white;
}

a.project {
    padding: 0 0.5em;
    width: 50%;
    overflow: hidden;
    display: block;
    margin: 0.5em 0;    
}

a.project p {
    text-align: left;
    margin: 0.3em 0;
}

.innerproject {
    color: #353535;
    height: 100%;
    padding: 1.4em;
    -webkit-transition: background-color .15s; /* Safari */
    transition: background-color .15s;
}

.project-text {
    display: table-cell;
}

img.project {
    float: right;
    margin-top: 2px;
    margin-left: 10px;
}

.projecttitle {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.projecttitle::after {
    content: " ";
    white-space: pre;
    display: block;
    height: 2px;
    width: 0%;
    border-bottom: 2px solid #f6ba00;
    text-align: center;
    padding-top: 0.1em;
    -webkit-transition: .15s; /* Safari */
    transition: .15s;
}

div.tiles a:hover .innerproject {
    color: #000;
    -webkit-transition: background-color .15s; /* Safari */
    transition: background-color .15s;
}


div.tiles a.project:hover .projecttitle::after {
    -webkit-transition: .15s; /* Safari */
    transition: .15s;
    width: 20%;
}

img.banner {
    width: 100%;
}

p.about {
    font-size: 1.3em;
    line-height: 140%;
    text-align: left;
}

ul#people {
    display: flex;
    flex-wrap: wrap;
    padding: 1em 0;
    list-style: none;
}

a.personbox {
    height: 100%;
    display: block;
    width: 150px;
}

ul#people li {
    text-align: center;
    padding: 1em;
    margin: 0 auto;
}

img.person {
    border-radius: 50%;
    border: 10px solid #f6b90000;
    -webkit-transition: .15s; /* Safari */
    transition: .15s;
    width: 138px;
    height: 138px;
    object-fit: scale-down;
}

a.personbox:hover img.person {
    border-color: #f6ba00;
    -webkit-transition: .15s; /* Safari */
    transition: .15s;
}

.post p {
    text-align: left;
}

.post a {
    color: #1a0dab;
}

.post-sidebar {
    padding: 0 1em;
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.post-main {
    padding: 0 1em;
    display: inline-block;
    width: 70%;
    vertical-align: top;
    font-size: 16px;
    line-height: 160%;
}

blockquote.me {
    border-left: 10px solid #e7e7e7;
    margin: 1.5em 10px;
    padding: 0.5em 1.5em;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote.me:before {
    color: #e7e7e7;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.link-title {
    color: #4b4b4b;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 2em;
}

ul.me-links {
    padding: 0.5em 0 0 0;
}

ul.me-links > li {
    list-style: none;
    padding: 0.4em 0 1.4em 0;
}

ul.contact {
    padding: 1em 0 0 0;
    text-align: center;
    font-size: 18px;
    list-style: none;
}

ul.interests {
    padding: 0 0 1em 0;
}

ul.interests li {
    list-style: none;
    margin: 0.4em 0;
}

button.year {
    background-color: #f8f8f8;
    cursor: pointer;
    padding: 0.6em;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    margin: 0.3em 0;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.r-arrow, .d-arrow {
    padding-right: 0.5em;
    display: inline-block;
}

button.year .d-arrow {
    display: none;
}

button.year-active .r-arrow {
    display: none;
}

button.year-active .d-arrow {
    display: inline-block;
}

button.year:hover {
    background-color: #e7e7e7;
    color: black;
}

ul.paperlist {
    padding: 0 1em;
    list-style: none;
}

ul.paperlist-hidden {
    display: none;
}

ul.paperlist li {
    line-height: 140%;
    padding: 1em 2em;
    border-bottom: 1px solid #e7e7e7;
}

ul.paperlist li:last-child{
    border-bottom: 0;
}

.paper-links {
    padding-top: 0.5em;
}

.paper-links a {
    padding-right: 1.5em;
}



i.email-color { color: #ffa930 }
i.twitter-color { color: #1da1f2 }
i.github-color { color: #333 }
i.scholar-color { color: #4285f4 }
i.link-color { color: #00ca54 }
i.arrow-color { color: #e7e7e7 }
i.pdf-color { color: #ff0000 }
i.globe-color { color: #0033a1 }


@media screen and (max-width: 640px) {

    a.project {
        width: 100%;
    }

    .inner-body {
        padding: 0 1em 0 1em;
    }

    ul.navlist {
        padding-left: 0;
    }

    .post-sidebar, .post-main {
        display: block;
        width: 100%;
    }

    ul.paperlist li {
        padding: 1em 0em;
    }

}

@media screen and (max-width: 900px) {
    ul.navlist a {
        display: block;
    }   

    ul.navlist li {
        padding: 8px 0 8px 0;
    }   

    a.logo {
        text-align: center;
        width: 100%;
    }
}
